#myvideo,#othervideo{
    width: 520px;
}
.video_container{
    display: flex;
    justify-content: space-between;
}
.header{
   color: black;
   background-color: white;
   text-align: center;
   font-size: 48px;

}
.btn__call{
    display: flex;
}
#txtFriendPeerId{
    border-radius: 10px;
    margin-right: 20px;
    border-color: snow;
}
body{
    height: 100vh;
    background-color: RGB(136, 31, 255);
}
#txtFriendPeerId:focus{
    border-radius: 10px;
    border-color: rgb(240, 67, 76);
    outline-width: 0;
}
#btnCall{
    width: 100px;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
    color: white;
}
#btnCall:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
    transition: 0.7s;
}
.flex__ID{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
}
#peerId{
    color: white;
}